{% extends 'base.html' %}

{% load static %}


{% block title %}FixNotes{% endblock %}

{% block addcss %}
    <link rel="stylesheet" href="{% static 'notes/css/home.css' %}">
{% endblock %}

{% block content %}
    <header>
        <div id="title">
            <h1>Fix Notes</h1>
        </div>

        <ul>
            <a href="{% url 'home' %}"><li>Inicio</li></a>
            <a href="{% url 'nova_nota' %}"><li>Nova Nota</li></a>
            <a href="{% url 'nova_categoria' %}"><li>Nova Categoria</li></a>
            <a href="/user/cadastro/" id="inscrevase-btn"><li>Ja Possui uma Conta?</li></a>
        </ul>
    </header>

    <main>
        {% for nota in notas %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{nota.titulo_nota}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{nota.categoria}}</h6>
                    <p class="card-text">{{nota.desc_nota}}</p>
                    <form action="#">
                        <input type="submit" value="Concluir Nota">
                    </form>
                </div>
            </div>
        {% endfor %}
    </main>
{% endblock %}