{% extends 'base.html' %}

{% load static %}


{% block title %}FixNotes{% endblock %}

{% block addcss %}
    <link rel="stylesheet" href="{% static 'notes/css/home.css' %}">
{% endblock %}

{% block content %}
    <header>
        <div id="title">
            <h1>Fix Notes</h1>
        </div>

        <ul>
            <a href="#"><li>Inicio</li></a>
            <a href="#"><li>Nova Nota</li></a>
            <a href="#"><li>Nova Categoria</li></a>
            <a href="#"><li>Notas Concluidas</li></a>
            <a href="#"><li>Notas a Fazer</li></a>
            <a href="#"><li>Ja Possui uma Conta?</li></a>
        </ul>
    </header>

    <main>
        
    </main>
{% endblock %}