{% extends 'base.html' %}

{% load static %}


{% block title %}FixNotes{% endblock %}

{% block addcss %}
    <link rel="stylesheet" href="{% static 'notes/css/home.css' %}">
{% endblock %}

{% block content %}
    <header>
        <div id="title">
            <h1>Fix Notes</h1>
        </div>

        <ul>
            <a href="{% url 'home' %}"><li>Inicio</li></a>
            <a href="#"><li>Nova Nota</li></a>
            <a href="#"><li>Nova Categoria</li></a>
            <a href="#"><li>Notas Concluidas</li></a>
            <a href="#"><li>Notas a Fazer</li></a>
            <a href="/user/cadastro/" id="inscrevase-btn"><li>Ja Possui uma Conta?</li></a>
        </ul>
    </header>

    <main>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Titulo da Nota</h5>
                <h6 class="card-subtitle mb-2 text-muted">Categoria da Nota</h6>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <form action="#">
                    <input type="submit" value="Concluir Nota">
                </form>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <form action="#">
                    <input type="submit" value="Concluir Nota">
                </form>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <form action="#">
                    <input type="submit" value="Concluir Nota">
                </form>
            </div>
        </div><div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <form action="#">
                    <input type="submit" value="Concluir Nota">
                </form>
            </div>
        </div>
    </main>
{% endblock %}